/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.xng-breadcrumb-roots {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

.xng-breadcrumb-link {
    color: lightgray !important;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: orange;
}

.xng-breadcrumb-separator {
    padding: 0 0;
    color: lightgray !important
}