@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/bootswatch/dist/darkly/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.xng-breadcrumb-roots {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

.xng-breadcrumb-link {
    color: lightgray !important;
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: orange;
}

.xng-breadcrumb-separator {
    padding: 0 0;
    color: lightgray !important
}

.StripeElement {
    height: 3.125em;
}