button.nav-link {
    background: #7c96d1;
    border-radius: 0;
    border: none;

    &:focus {
        outline: none;
    }
    &.active:hover {
        color: #f6d2d2;
    }
    & :active {
        outline: none;
    }
    &.active:focus {
        outline: none;
    }
}