<div class="container mt-2">
    <div *ngIf="(orders$ | async) === null">
        <p>There are no items in your basket</p>
    </div>
    <div *ngIf="orders$ | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-1">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="border-0">
                                    <tr>
                                        <th scope="col">
                                            <div class="text-uppercase">Order</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-uppercase">Date</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-uppercase">Total</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-uppercase">Status</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of (orders$ | async)">
                                        <th scope="row">
                                            <div class="p-2">                                                
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0">
                                                        <a routerLink="{{item.id}}" class="text-white">
                                                            #{{item.id}}
                                                        </a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="align-middle"><strong>{{item.orderDate | date: 'dd/MM/yyyy hh:mm a'}}</strong></td>
                                        <td class="align-middle"><strong>{{item.total | currency}}</strong></td>
                                        <td class="align-middle"><strong>{{item.status | uppercase}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>