<div class="container mt-2">
    <div *ngIf="(orders$ | async) === null">
        <p>There are no orders yet</p>
    </div>
    <div *ngIf="orders$ | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 mb-1">
                        <div class="table-responsive">
                            <table class="table table-hover" style="cursor: pointer;">
                                <thead class="border-0">
                                    <tr>
                                        <th scope="col">
                                            <div class="text-uppercase">Order</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-uppercase">Date</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-uppercase">Total</div>
                                        </th>
                                        <th scope="col">
                                            <div class="text-uppercase">Status</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of (orders$ | async)" routerLink="{{item.id}}">
                                        <th>
                                            #{{item.id}}
                                        </th>
                                        <td class="align-middle"><strong>
                                            {{item.orderDate | date: 'medium'}}
                                        </strong></td>
                                        <td class="align-middle"><strong>{{item.total | currency}}</strong></td>
                                        <td class="align-middle"><strong>{{item.status | uppercase}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>