<div class="container text-center">
    <div style="background:transparent !important" class="jumbotron">
        <h1 class="display-4">About Skinet</h1>
        <p> Proof of concept e-commerce store made by <br/>
            Mario Arturo Serrano Flores. <br/> Mexicali / Zapopan / Cancún, México </p>
        <p> .Net 5 Backend <br/> Angular 11 Frontend <br/>
             Redis, SQLite(dev) & PostgreSQL(prod) Databases <br/>
             Stripe for payment processing </p>
        <p> Instructor: Neil Cummings from Udemy (Excellent course!). </p>
        <p>
            <a href="https://www.udemy.com/course/learn-to-build-an-e-commerce-app-with-net-core-and-angular"
               class="btn btn-lg btn-secondary" target="_blank">
                Learn more! 
            </a>            
        </p>
        <p class="mt-5 mb-3 text-muted text-center">© 2020 - {{ today | date: 'yyyy' }}</p>
    </div>
</div>