<div class="container text-center">
    <div style="background:transparent !important" class="jumbotron">
        <h1 class="display-4">About Skinet</h1>
        <p> Made by Mario Arturo Serrano Flores. Mexicali / Zapopan / Cancún, México </p>
        <p> .Net 5 Backend </p>
        <p> Angular 11 Frontend </p>
        <p> Teacher: Neil Cummings (
            <a href="https://www.udemy.com/course/learn-to-build-an-e-commerce-app-with-net-core-and-angular"> Udemy Course )</a>.
            EXCELLENT COURSE!
        </p>
    </div>
</div>